APP_ENV=local
APP_NAME=doping-chatbot

OPENAI_API_KEY=
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini

EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small
CHROMA_COLLECTION_NAME=doping_chunks_openai_small

LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=doping-chatbot

RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
INDEX_DIR=data/indexes
